* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo-onebitcode {
  width: 180px;
}
.header {
  width: 100%;
  min-height: 40px;
  background-color: #292929;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  gap: 8px 15px;
}
.buttons {
  display: flex;
  gap: 15px;
}
.button {
  font-size: 16px;
  padding: 6px;
  background-color: transparent;
  border: 2px solid transparent;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}
.button:hover {
  border-bottom: 2px solid white;
}
.bemvindo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.tittle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
}
.sub-tittle {
  font-size: 18px;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.img1 {
  width: 275px;
  height: 150px;
}
.img2 {
  width: 275px;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categorias {
  display: grid;
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px 70px;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1 0 auto;
}
.bloco1 {
  display: grid;
}
.description {
  font-size: 20px;
  width: 240px;
  height: 220px;
}
.categorias-extras {
  height: 1000px;
  display: grid;
  justify-content: center;
  margin-right: 100px;
  background-color: #292929;
  padding: 20px 70px;
  gap: 15px;
}
.titulo {
  color: white;
  display: flex;
  justify-content: center;
}
.esporte2 {
  display: flex;
  justify-content: center;
  color: white;
}
